<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}} -- Django </title>
      {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <!--link the bootstrap files-->   
      
</head>
<body>
    <!--Nav Bar--> 
     <ul>
        <li><a href="{%url 'index'%}"> Home</a></li>
        <li><a href="{%url 'home'%}"> About </a></li>
        <li><a href="{%url 'contact'%}"> Contact</a> </li>
    </ul>

    <div class="container body-content">

    <!--Actual information for each webpage--> 
    
    {%block content%}{%endblock%}

    </div>
    <!--Add the script tags; Inheritance to the other pages--> 
</body>
</html>